<ul >
  {{#events}}
    <li>
        <h2 style="color:blue;"> Title: {{ title }}</h2>
        <p style="color:red;">Description: {{ description }}</p>
        <p style="color:green;">Location: {{ location }}</p>
        <p style="color:violet;">Likes: {{ likes }}
        <form method="POST" action="/event/like">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="Like">
        </form>
        <form method="POST" action="/event/unlike">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="UN-Like">
        </form>
        </p>
    </li>
  {{/events}}
</ul>


